[submodule "docs/latex_templates"]
	path = docs/latex_templates
	url = https://github.com/MrCrazyID/latex_templates.git
[submodule "mqtt_logger/SQLiteCpp"]
	path = mqtt_logger/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "webserver/mongoose-cpp"]
	path = webserver/mongoose-cpp
	url = https://github.com/Gregwar/mongoose-cpp
